html{
    height: 100%;
}


body{
    font-size: 1.2rem;
    min-height: 100%;
}


.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.grid-container{
    display: grid;
    
}
