@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

/*      UTILITY CLASSES     */
.flex {
  display: flex;
  align-items: center;
}

/*      PRINCIPAL LAYOUT MOBILE FIRST    */

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 0rem
    "footer" 100px;
}

/*      PRINCIPAL GRID ELEMENTS STYLING    */

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

/*        HEADER       */

.header {
  grid-area: header;
  background-color: #85aedd;
  position: sticky;
  
}

.burger-menu-button {
    height: 50px;
    cursor: pointer;
}

/*        NAVBAR       */

.navbar {
  grid-area: navbar;
  background-color: #afd6af;
}

/*        SIDEBAR       */

.sidebar {
  
  background-color: #fdcfcf;
  visibility: hidden;
  position: absolute;
  padding: 100px;
 
  
 
  

}

/*        MAIN       */

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/*        FOOTER       */

.footer {
  grid-area: footer;
  background-color: #8c96a0;
  align-items: center;
  justify-content: center;
}

/*        MEDIA QUERY FOR TABLETS       */

@media (min-width: 650px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "main main" auto
      "footer  footer" 100px /
      200px auto;
  }





/*        MEDIA QUERY FOR DESKTOP       */

@media (min-width: 950px) {
  .grid-container {
    grid-template:
      "header  header header" 100px
      "sidebar  navbar navbar" 50px
      "sidebar main main" auto
      "footer  footer footer" 100px /
      200px auto 200px;
  }

  .burger-menu-button {
    display: none;
}

/*        SIDEBAR       */
.sidebar {
    position: unset;
    visibility: visible;
    grid-area: sidebar;
    padding: 1rem;
    
  }
}


}
